// *IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "./variables.scss";

// *STYLING
// *RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
img {
    width: 100%;
    display: block;
}
ul {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}

// *COMMON
body {
    font-family: 'Roboto', sans-serif;
    background-color: #141414;
}
section {
    padding-block: $section-padding-block;
}
h2 {
    font-size: $h2-font-size;
}
.container {
    margin: 0 auto;
    width: 95%;
}
.flex {
    display: flex;
}
.btn {
    padding: 0.5em 0.8rem;
    border: none;
    cursor: pointer;

    &.red {
        font-size: 0.8rem;
        color: #fff;
        background-color: #e50914;
    }
}
input[type=text] {
    width: 10rem;
    border: none;
    padding: 0.5em 0.8rem;
    font-size: 0.8rem;

    &:focus-visible {
        outline: none;
    }
}
.logo img {
    width: 140px;
}
.not-found {
    padding-bottom: 20rem;
    text-align: center;
}

// *cards
.card {
    width: calc((100% / 5) - 1rem);
    flex-shrink: 0;
    background-color: #fff;
    position: relative;

    &:hover .card-info {
        opacity: 1;
        border: 2px solid #fff;
    }
    &:hover .original-lang {
        opacity: 0;
    }
}
.card-image > img {
    aspect-ratio: 2/3;
    object-fit: cover;
}
.card-info {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.7rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    overflow: hidden;
    transition: opacity 400ms;

    .title,
    .original-title,
    .vote {
        margin-bottom: 0.3rem;
    }
}
.star {
    color: #7b7b7b;
}
.full-star {
    color: #ffd901;
}
.plot {
    padding-right: 0.45rem;
    flex-grow: 1;
    overflow-y: auto;
}
.original-lang {
    position: absolute;
    top: 3%;
    right: -2px;
    box-shadow: -2px 2px 2px #000;

    .flag {
        width: 28px;
        aspect-ratio: 3/2;
        object-fit: cover;
        border: 1px solid #e50914;
    }
}